<div class="row">
    <div class="col-xs-12">
        <h1> {{todo.task}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
        <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Todo <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Edit Todo</a></li>
            <li><a href="#">Delete Todo</a></li>
        </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{todo.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{todo.status}}
    </div>
</div>
  